@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Hind:wght@700&family=Pacifico&display=swap');
body{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    /* font-size: 30px; */
}
#body-header{
    height: 75vh;
    /* width: auto; */
    opacity: 0.8;
    background-image: url(./header-img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
    position: relative;
    
}
/* ul li{
    display: inline-block;
    list-style-type: none;
    
    margin: 0px;
    padding: 0px;
} */


/* body header  => Navigation*/

nav{
    height:  3rem;
    align-items: center;
    margin: 0;
    background-color: rgb(248, 248, 248);
    display: grid;
    box-shadow: var(--dark-shadow);
}
.nav-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-center h1{
    margin-right: 100px;
    position:relative ;
    left: 50px;
    width:  100%;
    /* margin: 0 auto; */
}
.nav-center ul{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    float: right;
    
}



li , a , ul{
   font-family: 'Varela Round', sans-serif;

    font-weight: 5500;
    
    color:  rgb(43, 120, 236);
    text-decoration: none;
    list-style: none;
}

.nav-links{
    max-width:520px ;
    display:  flex;
    justify-content: center;
  
    width: 500px;
}
.nav-links a{
    margin: 0 20px;
}


ul.nav-bar li a:hover{
    color: rgb(30, 58, 219);
    transition: color 0.5s,background-color 0.5s , border 0.5s;

 } 

/* heading my-name*/
.text-center{
    text-align: center;
}

#name-social-container{
    margin-top: 25vh;
}

#my-name{
    /* font-family: 'Hind', sans-serif; */
    font-family: 'Slabo 27px', serif;
    font-size: 4.5rem;
    letter-spacing: 0.1rem;
    color: rgb(43 117 252);
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.social-icons li{
    list-style: none;
    display: inline-block;
}
.social-icons li a{
    color: rgb(0,0,0);
}
.social-icons li a i{
    /*color: red;*/
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 50%;
}


.social-icons li a i:hover{
   
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1.05);
}

#about{
    height: auto;
    width: 100%;
    background-color: rgb(247, 247, 247);
    /* position:absolute; */
}

#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
    position: relative;
} 
#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0px 0px 6px 14px rgba(235, 225, 224, 0.3);
}
.about-para p{
    height: auto;
    width: 80vw;
    margin: auto;
    margin-top: 2rem;
    padding: 20px; 
    text-align: center;
    font-size: 1.5rem;
    word-spacing: 0.3rem;

}

 #skill{
    height: auto;
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
}

#skill p{
     height: auto;
    width: 80vw;
    margin: auto;
    margin-top: 2rem;
    /* padding: 30px;
    margin :0vh 10vw; */
    text-align: center;
    font-size: 1.5rem;
    word-spacing: 0.3rem;
}
 #experience{
    height: auto;
    width: 100%;
    background-color: rgb(245, 241, 241);
}
.container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.container div{
    height: auto;
    width: auto;
    border: 2px solid black;
    margin-left: 20px;
    background-image:linear-gradient(rgb(228, 212, 212), rgb(216, 179, 179), rgb(211, 211, 247));
    padding: 5px;

}
 #education{
    height: 65vh;
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding:50px 0 0 0;
    height: auto;
    background-color: rgb(241, 250, 242);
}

.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.timeline ul {
    list-style-type: none;
    margin-bottom: 10px;
}

.timeline ul li {
    border-radius: 10px;
    padding: 20px;
    color: white;
    background-color: rgb(116, 201, 60);
    margin-bottom: 20px;
}

.container ul li :last-child {
    margin-bottom: 0px;
}

.timeline-content h1 {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 20px;
}

.timeline-content p {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 20px;
}
.date{
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

@media only screen and (min-width:768px) {
    .timeline::before{
        content: '';
        height: 100%;
        width: 2px;
        position: absolute;
        left: 50%;
        transform: translateX(-50);
        background-color: rgb(144, 144, 148);
    }
 .timeline-content .date{
     position: absolute;
     top :-30px;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 2px;
    color: rgb(51, 50, 4);
}   

    .timeline ul li {
        width: 50%;
        margin-bottom: 90px;
        position: relative;
        
    }
    .timeline ul li:nth-child(odd) {
        float: left;
        clear: right;
        border-radius: 20px 0px 20px 20px;
        transform: translate(-30px);
        /* left: -30px; */
    }
    .timeline ul li:nth-child(even) {
        float: right;
        clear: left;
        border-radius: 0px 20px 20px 20px;
        transform: translate(30px);
    }
      .timeline ul li::after{
         position: absolute;
         height: 20px;
         width: 20px;
         content: '';
         background-color: rgb(34, 118, 187);
         border-radius: 50%;
         top:0px;
         
     }
      .timeline ul li:nth-child(odd)::after{
          transform: translate(50% , -50%);
          right: -30px;
          
      }
      .timeline ul li:nth-child(even)::after{
          transform: translate(-50% , -50%);
          left: -30px;
          
      }
      .timeline ul li:hover::after{
           background-color: rgb(236, 99, 99);
      }
}

/* Education */
.body2{
    position: relative;
    top: -30px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
background-color: #000000;

}
.main{
    margin: 0;
    width: 100%;
    height: 100%;
}
.container3{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
    color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
  
}
#heading-para{
 
    border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: rgb(252, 252, 252);
    text-align: center;
    width: 50vw;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin:30px auto 0 auto;
    margin-bottom: 0;
}

.cards{
   box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

    /* background-color: rgb(201, 204, 204); */
    border:0px solid rgb(255, 221, 221);
    border-radius: 15px;
    margin: 20px;
    width: 270px;
    height: 400px; 
}

.card-img{
    border-radius: 15px 15px 0px 0px ;
    /* height: 80%; */
    /* width: 80%; */
    margin: auto;
    /* border-radius: 50%; */
    background-image: url(./header-img.jpg);
    background-position: center;
    background-size: cover;
    /* background-color: aqua; */
    height: 180px;
    margin-bottom: 15px;

}
.cards h2, p{
    padding:0 1rem 0.5rem 1rem;
}
.cards a{
    /* background-color: black; */
    background-color: #2b4162;
background-image: linear-gradient(315deg, #2b4162 0%, #19282c 74%);

    color: white;
    display: block;
    height: auto;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    margin: 20px 50px;
    /* border-radius: 2px; */
}

.cards:hover{
    background-color: rgb(163, 161, 161);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.3s ease;

    
}
a:hover{
    color: rgb(47, 159, 224);
}